* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0b1d35;
  color: white;
  padding-top: 150px;
}

section {
  padding: 100px 20px;
  text-align: center;
}

a {
  color: #f5b301;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0b1d35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

nav a {
  margin: 0 1rem;
  color: white;
}

nav a:hover {
  color: #f5b301;
}

html, body {
  overflow-x: hidden;
}

h2{
  padding-bottom: 50px;
  font-size: 50px;
}